body {
  background-color: #dadada;
}

.green {
  color: green;
}

.orange {
  color: orangered;
}

.red {
  color: red;
}

.container {
  max-width: 800px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
}

.modal-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-main {
  background-color: white;
  width: 30%;
  height: 60%;
  border-radius: 5px;
  z-index: 1000;
  position: relative;
}

.modal-main form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
}

.modal-main form h5 {
  font-size: 1.2em;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
